// ## Colors

// ### Primary

$Light_red_text: hsl(356, 100%, 66%);
$Very_light_red_background: hsl(355, 100%, 74%); // (CTA hover background): hsl(355, 100%, 74%)
$Very_dark_blue: hsl(208, 49%, 24%);

// ### Neutral

$White: hsl(0, 0%, 100%);
$Grayish_blue: hsl(240, 2%, 79%);
$Very_dark_grayish_blue: hsl(207, 13%, 34%);
$Very_dark_black_blue: hsl(240, 10%, 16%);

// ### Gradient

// Background gradient - Intro/CTA mobile nav:

$Very_light_red: hsl(13, 100%, 72%);
$Light_red: hsl(353, 100%, 62%);

// Background gradient - body:

$Very_dark_gray_blue: hsl(237, 17%, 21%);
$Very_dark_desaturated_blue: hsl(237, 23%, 32%);

   //-------General styles--------------
   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $Very_dark_blue;
}


//--------------End General styles--------------------------------------------------

.nav-button {
    margin: 0.5rem auto;
    height: 2.7rem;
    width: 8rem;
    border-radius: 2rem;
    border: none;
    font-weight: 600;
}

.button-transp{
    background:none;
    border: 2px solid $White;
    color:$White;
}

.button-white {
    color: $Light_red_text;
}

.button-grad {
    background-image: linear-gradient(to right , $Very_light_red, $Light_red);
    color: $White;
}

.button-nothing {
    background: none;
    color: $Very_dark_blue;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1rem 2rem;
    margin-bottom: 8rem;

    .nav-logo{
        display: flex;
        align-items: center;
    }


.nav-menu{
    position:fixed;
    margin:auto;
    width: 80%;
    left:0;
    right:0;
    top: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $White;
    color: $Very_dark_grayish_blue;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);

        .nav-menu__list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        

            .nav-item{
                margin: 1rem 0;
                width: 85%;

            } 

            .nav-item__accordion{
                position: absolute;
                opacity: 0;
                padding: 1rem 4rem;
            }

            .nav-item__label{

                position: relative;                
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 1rem;
                cursor: pointer;
                padding-left: 1rem;
                color: $Very_dark_blue;
                font-weight: 600;

           }

            .nav-item__label::after {
                content: url(../images/icon-arrow-dark.svg);
                margin: 0 0.5rem;
            }


            .nav-menu__sub{
                display: none;
            }

            .nav-item__accordion:checked ~ .nav-menu__sub{
                position:relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: $Grayish_blue;
                margin: 1rem auto;
                padding: 0.5rem 0;
                border-radius: 5px;
                font-size: 0.9rem; 
                
                .nav-item__sub{
                    margin: 0.5rem auto;
                }
                

            }

            .nav-item__accordion:checked ~ .nav-item__label::after{
                transform: rotate(180deg);
            }
            .nav-item__sub{
                margin: 1rem 0;
            }                
    }

    .buttons{
        width: 85%;
        margin: 1rem;
        padding: 1rem 0;
        border-top: 1px solid #e2e8f0;
        display: flex;
        flex-direction: column;
        justify-content: center; 
   }


}

.nav-menu.active{
    top: 8rem;
    width: 85%;

}
    .hamburguer{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .menu-x {
            display: none;
        }
    

     }

    .hamburguer.active{


        .menu-hamburguer{
            display: none;
        }

        .menu-x {
            display: block;
        }
    }
    
}
