* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #1f3f5b;
}

.nav-button {
  margin: 0.5rem auto;
  height: 2.7rem;
  width: 8rem;
  border-radius: 2rem;
  border: none;
  font-weight: 600;
}

.button-transp {
  background: none;
  border: 2px solid white;
  color: white;
}

.button-white {
  color: #ff525d;
}

.button-grad {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background-image: linear-gradient(to right, #ff8f70, #ff3d54);
  color: white;
}

.button-nothing {
  background: none;
  color: #1f3f5b;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 1rem 2rem;
  margin-bottom: 8rem;
}

.navbar .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav-menu {
  position: fixed;
  margin: auto;
  width: 80%;
  left: 0;
  right: 0;
  top: -100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  color: #4b5862;
  border-radius: 10px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.navbar .nav-menu .nav-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.navbar .nav-menu .nav-menu__list .nav-item {
  margin: 1rem 0;
  width: 85%;
}

.navbar .nav-menu .nav-menu__list .nav-item__accordion {
  position: absolute;
  opacity: 0;
  padding: 1rem 4rem;
}

.navbar .nav-menu .nav-menu__list .nav-item__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
  cursor: pointer;
  padding-left: 1rem;
  color: #1f3f5b;
  font-weight: 600;
}

.navbar .nav-menu .nav-menu__list .nav-item__label::after {
  content: url(../images/icon-arrow-dark.svg);
  margin: 0 0.5rem;
}

.navbar .nav-menu .nav-menu__list .nav-menu__sub {
  display: none;
}

.navbar .nav-menu .nav-menu__list .nav-item__accordion:checked ~ .nav-menu__sub {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #c8c8cb;
  margin: 1rem auto;
  padding: 0.5rem 0;
  border-radius: 5px;
  font-size: 0.9rem;
}

.navbar .nav-menu .nav-menu__list .nav-item__accordion:checked ~ .nav-menu__sub .nav-item__sub {
  margin: 0.5rem auto;
}

.navbar .nav-menu .nav-menu__list .nav-item__accordion:checked ~ .nav-item__label::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.navbar .nav-menu .nav-menu__list .nav-item__sub {
  margin: 1rem 0;
}

.navbar .nav-menu .buttons {
  width: 85%;
  margin: 1rem;
  padding: 1rem 0;
  border-top: 1px solid #e2e8f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .nav-menu.active {
  top: 8rem;
  width: 85%;
}

.navbar .hamburguer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.navbar .hamburguer .menu-x {
  display: none;
}

.navbar .hamburguer.active .menu-hamburguer {
  display: none;
}

.navbar .hamburguer.active .menu-x {
  display: block;
}
/*# sourceMappingURL=menu-styles.css.map */