* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #1f3f5b;
}

.nav-button {
  margin: 0.5rem auto;
  height: 2.8rem;
  width: 8rem;
  border-radius: 2rem;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

.button-transp {
  background: none;
  border: 2px solid white;
  color: white;
}

.button-white {
  color: #ff525d;
}

.button-grad {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background-image: linear-gradient(to right, #ff8f70, #ff3d54);
  color: white;
}

.button-nothing {
  background: none;
  color: #4b5862;
}

.button-nothing:hover, .button-white:hover, .button-grad:hover {
  background: #ff7a85;
  color: white;
}

.button-transp:hover {
  color: #ff7a85;
  background: white;
  border: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 1rem 2rem;
  margin-bottom: 8rem;
}

.navbar .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav-menu {
  position: absolute;
  margin: 0 auto;
  width: 80%;
  left: 10%;
  right: 10%;
  top: -100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  color: #4b5862;
  border-radius: 10px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.navbar .nav-menu .nav-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.navbar .nav-menu .nav-menu__list .nav-item {
  margin: 1rem 0;
  width: 80%;
}

.navbar .nav-menu .nav-menu__list .nav-item__accordion {
  position: absolute;
  opacity: 0;
  padding: 1rem 4rem;
}

.navbar .nav-menu .nav-menu__list .nav-item__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
  cursor: pointer;
  padding-left: 1rem;
  color: #1f3f5b;
  font-weight: 600;
}

.navbar .nav-menu .nav-menu__list .nav-item__label::after {
  content: url(../images/icon-arrow-dark.svg);
  margin: 0 0.5rem;
}

.navbar .nav-menu .nav-menu__list .nav-menu__sub {
  display: none;
}

.navbar .nav-menu .nav-menu__list .nav-item__accordion:checked ~ .nav-menu__sub {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #c8c8cb;
  margin: 1rem auto;
  padding: 0.5rem 0;
  border-radius: 5px;
  font-size: 0.9rem;
}

.navbar .nav-menu .nav-menu__list .nav-item__accordion:checked ~ .nav-menu__sub .nav-item__sub {
  margin: 0.5rem auto;
}

.navbar .nav-menu .nav-menu__list .nav-item__accordion:checked ~ .nav-item__label::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.navbar .nav-menu .nav-menu__list .nav-item__accordion:checked ~ .nav-item__label {
  color: #4b5862;
}

.navbar .nav-menu .nav-menu__list .nav-item__sub {
  margin: 1rem 0;
}

.navbar .nav-menu .buttons {
  width: 85%;
  margin: 1rem;
  padding: 1rem 0;
  border-top: 1px solid #e2e8f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .nav-menu.active {
  top: 8rem;
  width: 80%;
}

.navbar .hamburguer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.navbar .hamburguer .menu-x {
  display: none;
}

.navbar .hamburguer.active .menu-hamburguer {
  display: none;
}

.navbar .hamburguer.active .menu-x {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: -1rem auto;
    padding: 0 7rem;
  }
  .navbar .nav-logo {
    margin: 0 2rem 0 3rem;
  }
  .navbar .nav-menu {
    position: inherit;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
  }
  .navbar .nav-menu .nav-menu__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60%;
  }
  .navbar .nav-menu .nav-menu__list .nav-item {
    width: 20%;
  }
  .navbar .nav-menu .nav-menu__list .nav-item__accordion {
    position: absolute;
    opacity: 0;
    padding: 1rem 4rem;
  }
  .navbar .nav-menu .nav-menu__list .nav-item__label {
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 1rem;
    cursor: pointer;
    color: white;
  }
  .navbar .nav-menu .nav-menu__list .nav-item__label::after {
    content: url(../images/icon-arrow-light.svg);
    margin: 0 0.5rem;
  }
  .navbar .nav-menu .nav-menu__list .nav-menu__sub {
    display: none;
  }
  .navbar .nav-menu .nav-menu__list .nav-item__accordion:checked ~ .nav-menu__sub {
    position: fixed;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 1.5rem 4rem 1.5rem 1rem;
    background-color: white;
    margin: 1rem 1.5rem;
    border-radius: 5px;
  }
  .navbar .nav-menu .nav-menu__list .nav-item__accordion:checked ~ .nav-menu__sub .nav-item__sub {
    margin: 0.5rem 0;
  }
  .navbar .nav-menu .nav-menu__list .nav-item__accordion:checked ~ .nav-menu__sub .nav-item__sub:hover {
    font-weight: 700;
  }
  .navbar .nav-menu .nav-menu__list .nav-item__accordion:checked ~ .nav-item__label {
    color: white;
    text-decoration: underline;
  }
  .navbar .nav-menu .nav-menu__list .nav-item__accordion:checked ~ .nav-item__label::after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .navbar .nav-menu .nav-menu__list .nav-item__label:hover {
    text-decoration: underline;
  }
  .navbar .nav-menu .buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 38%;
    border: none;
  }
  .navbar .nav-menu .buttons .nav-button {
    margin: 0 1rem;
    width: 8rem;
    height: 3rem;
    border-radius: 2rem;
  }
  .navbar .nav-menu .buttons .button-nothing {
    color: white;
  }
  .navbar .hamburguer {
    display: none;
  }
}
/*# sourceMappingURL=menu-styles.css.map */