* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 0 5rem;
  width: 100%;
}

.navbar .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.navbar .nav-menu .nav-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

.navbar .nav-menu .nav-menu__list .nav-item {
  margin-left: 3rem;
}

.navbar .nav-menu .nav-menu__list .nav-item__accordion {
  position: absolute;
  opacity: 0;
  padding: 1rem 4rem;
}

.navbar .nav-menu .nav-menu__list .nav-item__label {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
  cursor: pointer;
}

.navbar .nav-menu .nav-menu__list .nav-item__label::after {
  content: url(../images/icon-arrow-dark.svg);
  margin: 0 0.5rem;
}

.navbar .nav-menu .nav-menu__list .nav-menu__sub {
  display: none;
}

.navbar .nav-menu .nav-menu__list .nav-item__accordion:checked ~ .nav-menu__sub {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem 3rem 1.5rem 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #e2e8f0;
  margin: 1rem auto;
  border-radius: 5px;
}

.navbar .nav-menu .nav-menu__list .nav-item__accordion:checked ~ .nav-item__label::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.navbar .nav-menu .nav-menu__list .nav-item__sub {
  margin: 0.5rem 0;
}

.navbar .buttons {
  width: 38%;
}

.navbar .buttons .nav-button {
  margin: 0 2rem;
  width: 7rem;
  height: 3rem;
  border-radius: 2rem;
}

.hamburguer {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #e2e8f0;
}

@media screen and (max-width: 768px) {
  .navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem 2rem;
    margin-bottom: 8rem;
  }
  .navbar .nav-menu {
    position: fixed;
    margin: auto;
    width: 80%;
    left: 0;
    right: 0;
    top: -100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #aaa;
    color: #4b5862;
    border-radius: 10px;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  }
  .navbar .nav-menu .nav-menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .navbar .nav-menu .nav-menu__list .nav-item {
    margin: 1rem 0;
    width: 85%;
  }
  .navbar .nav-menu .nav-menu__list .nav-item__label {
    padding-left: 1rem;
  }
  .navbar .nav-menu .nav-menu__list .nav-item__accordion:checked ~ .nav-menu__sub {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #e2e8f0;
  }
  .navbar .nav-menu .nav-menu__list .nav-item__sub {
    margin: 1rem 0;
  }
  .navbar .nav-menu .buttons {
    width: 85%;
    margin: 1rem;
    padding: 1rem 0;
    border-top: 1px solid #e2e8f0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar .nav-menu .buttons .nav-button {
    margin: 0.5rem auto;
    height: 3.5rem;
    width: 40%;
  }
  .navbar .nav-menu.active {
    top: 5rem;
  }
  .navbar .hamburguer {
    display: block;
    cursor: pointer;
  }
  .navbar .hamburguer .bar {
    display: block;
    width: 2rem;
    height: 0.2rem;
    margin: 0.4rem auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
  }
  .navbar .hamburguer.active .bar:nth-child(2) {
    opacity: 0;
  }
  .navbar .hamburguer.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .navbar .hamburguer.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}
/*# sourceMappingURL=menu-styles-desc.css.map */