body {
  font-size: 1rem;
  font-family: 'Overpass', sans-serif;
  color: #1f3f5b;
}

.desktop-img {
  display: none;
}

h2 {
  font-size: 1.7rem;
}

.main {
  height: 90vh;
  padding-top: 3rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff8f70), to(#ff3d54)), url(../images/bg-pattern-intro.svg);
  background-image: linear-gradient(to bottom right, #ff8f70, #ff3d54), url(../images/bg-pattern-intro.svg);
  background-size: 350%;
  background-position: 35% 30%;
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  border-radius: 0 0 0 10rem;
  color: white;
  text-align: center;
}

.main .principal h1 {
  font-size: 2.1rem;
  margin: 1rem 2rem;
}

.main .principal p {
  margin: 0 3rem;
}

.main .main-buttons {
  margin: 2rem auto;
  width: 22rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
}

.sect1 {
  margin: 3rem auto;
  width: 100%;
  text-align: center;
}

.sect1 p {
  padding: 1rem 2.3rem;
  line-height: 1.8rem;
}

.sect1 .heading1 {
  margin-top: 6rem;
}

.sect1 .fig1 {
  width: 100%;
  margin: 2.5rem auto;
}

.sect1 .heading2 {
  padding: 0 4rem;
}

.sect1 .heading3 {
  margin-top: 2rem;
  padding: 0 2rem;
}

.sect2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 7rem;
  text-align: center;
}

.sect2 .cell-background {
  height: 90vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2c2d3f), to(#3f4164)), url(../images/bg-pattern-circles.svg);
  background-image: linear-gradient(to bottom right, #2c2d3f, #3f4164), url(../images/bg-pattern-circles.svg);
  background-size: 150%;
  background-position: 50% -580%;
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  border-radius: 0 10rem 0 10rem;
  margin-top: 25%;
  margin-bottom: 2rem;
  color: white;
}

.sect2 .cell-background .img-phones {
  width: 100%;
  position: relative;
  top: -30%;
}

.sect2 .cell-background h2 {
  font-size: 2.5rem;
  position: relative;
  top: -28%;
}

.sect2 .cell-background p {
  position: relative;
  top: -25%;
  margin: 0 2rem;
  line-height: 1.8rem;
  color: white;
}

.sect2 .img-laptop {
  height: 100%;
  margin: 2rem 0;
}

.sect2 p {
  margin: 1.5rem 2.5rem 2rem 2.5rem;
  line-height: 1.8rem;
  color: #4b5862;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #25252d;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  text-align: center;
  padding-bottom: 1.5rem;
  border-radius: 0 8rem 0 0;
}

footer .f-nav-logo {
  margin: 5rem 0 4rem 0;
}

footer .f-list {
  margin-bottom: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .f-list .f-span {
  color: white;
  margin-bottom: 1.5rem;
}

footer .f-list .f-list-item {
  margin: 0.4rem 0;
  font-weight: 300;
}

footer .f-list .f-list-item .f-link {
  color: #c8c8cb;
}
/*# sourceMappingURL=page-styles.css.map */