// ## Colors

// ### Primary

$Light_red_text: hsl(356, 100%, 66%);
$Very_light_red_hover: hsl(355, 100%, 74%); // (CTA hover background): hsl(355, 100%, 74%)
$Very_dark_blue: hsl(208, 49%, 24%);

// ### Neutral

$White: hsl(0, 0%, 100%);
$Grayish_blue: hsl(240, 2%, 79%);
$Very_dark_grayish_blue: hsl(207, 13%, 34%);
$Very_dark_black_blue: hsl(240, 10%, 16%);

// ### Gradient

// Background gradient - Intro/CTA mobile nav:

$Very_light_red: hsl(13, 100%, 72%);
$Light_red: hsl(353, 100%, 62%);

// Background gradient - body:

$Very_dark_gray_blue: hsl(237, 17%, 21%);
$Very_dark_desaturated_blue: hsl(237, 23%, 32%);

body{
    font-size: 1rem;
    font-family: 'Overpass', sans-serif;
    color: $Very_dark_blue;
}

.desktop-img {
    display:none;
}

h2{
    font-size: 1.7rem;
}



.main {
    height: 90vh;
    padding-top: 3rem;
    // background-image: linear-gradient(to bottom right,$Very_light_red, $Light_red),
    // url(../images/bg-pattern-intro.svg);
    // background-size: 350%;
    // background-position: 35% 30%;
    // background-blend-mode: lighten;
    background-repeat: no-repeat;
    border-radius: 0 0 0 10rem;
    color: $White;
    text-align: center;
        .principal{

            h1{
                font-size: 2.1rem;
                margin: 1rem 2rem;
            }

            p{
                margin: 0 3rem;
            }            
    }

    .main-buttons{
        margin: 2rem auto;
        width: 22rem;
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;

    }
}
        
.sect1{
    margin: 3rem auto;
    width: 100%;
    text-align: center;

    p{
        padding: 1rem 2.3rem;
        line-height: 1.8rem;
        
    }

    .heading1{
        margin-top: 6rem;
    }

    .fig1{
        width: 100%;
        margin: 2.5rem auto;
    }

    .heading2{
        padding: 0 4rem;
    }

    .heading3{
        margin-top: 2rem;
        padding: 0 2rem;
    }
}

.sect2{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center ;
    padding-top:7rem;
    text-align: center;



    .cell-background{
        height: 90vh;
        background-image: linear-gradient(to bottom right ,$Very_dark_gray_blue, $Very_dark_desaturated_blue)
        ,url(../images/bg-pattern-circles.svg);
        background-size: 150%;
        background-position: 50% -580%;
        background-blend-mode: lighten;
        background-repeat: no-repeat;
        border-radius: 0 10rem 0 10rem;
        margin-top: 25%;
        margin-bottom: 2rem;
        color: $White;

        .img-phones {
            width: 100%;
            position:relative;
            top: -30%;
        }

        h2{
            font-size: 2.5rem;
            position: relative;
            top: -28%;
        }

        p{
            position: relative;
            top: -25%;
            margin: 0 2rem;
            line-height: 1.8rem;
            color: $White;
        }
    }

    .img-laptop {
        height: 100%;
        margin: 2rem 0;
    }

    p{
        margin: 1.5rem 2.5rem 2rem 2.5rem;
        line-height: 1.8rem;
        color:$Very_dark_grayish_blue;
    }
}

footer {
    display: flex;
    flex-direction: column;
    background-color: $Very_dark_black_blue;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
    padding-bottom: 1.5rem;
    border-radius: 0 8rem 0 0;
       .f-nav-logo{
        margin: 5rem 0 4rem 0;
       }
        .f-list{
            margin-bottom: 2.5rem;
            display: flex;
            flex-direction: column;
            .f-span{
                color:$White;
                margin-bottom: 1.5rem;
               
            }
            .f-list-item{
                margin: 0.4rem 0;
                font-weight: 300;
                .f-link{
                    color: $Grayish_blue;
                    
                }                
            }
        }        
}

//--------------Media queries

@media screen and (min-width: 768px) {


    .main {
        height: 65vh;
        padding-top: 3rem;
        background-image: url(../images/bg-pattern-intro.svg);
        background-size: 200%;
        background-position: 20% 50% ;
        border-radius: 0 0 0 5rem;
        z-index: 100;

        .principal{

            h1{
                font-size: 4rem;
                margin-top: 6rem
            }
        }
    }

    .main::after{
        content: '';
        position: absolute;        
        top: 0;
        left: 0;        

        background-image: linear-gradient(to right,$Very_light_red, $Light_red); 
        //mix-blend-mode:luminosity;
        height:65vh;
        width: 100%;
        background-size: 100%;;
        border-radius: 0 0 0 5rem;
        z-index: -1;
    }

    .sect1{
        margin: 3rem auto;
        width: 100%;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2;
        grid-template-areas: 
                        "heading heading"
                        "paragraphs figure";
        overflow: hidden;

        .heading1{
            grid-area: heading;
            margin-top: 7rem;
            font-size: 2.5rem;
            align-self: center;
        }
    
    
        .sect-container {
            grid-area: paragraphs;
            width: 100%;
            text-align: left;
            align-self:center;
            justify-items: center;

            .paragraph1{
                text-align: left;
                padding: 0;
                width: 70%;
               
            }
    
            .paragraph2{
                text-align: left;
                padding: 0;
                width: 70%;
            }
        

            .heading2{
                margin-bottom: 2rem;
                padding: 0 ;
            }
        
            .heading3{
                margin-top: 4rem;
                padding: 0;
            }
        }


        .mobile-img {
            display: none;
        }

        .desktop-img{
            display: inherit;
        }
        .fig1{
            grid-area: figure;
            width: 120%;
            margin: -4rem 0 ;
        }
    }
}
